<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Meu primeiro portal spring boot</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1> Contato</h1>         
        </header>
        <nav>
     <ul>
     <li><a href="http://localhost:9000/servicos"  > serviços</a></li>
     <li><a href="http://localhost:9000/portal"  > portal </a></li>
     </ul>
     </nav>
    </body>
</html>
