<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <header>
            <nav>
                <a href = "/portal"> voltar para o Portal </a>             
            </nav>
            <h1>Total de funcionarios da empresa</h1>
        </header>
    
    <h2> Total de colaboradores <span th:text="${total}"></span> </h2><br>
    <body>
        <div>TODO write content</div>
    </body>
</html>
