<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Meu primeiro portal spring boot</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1> Meu primeiro portal spring boot</h1>
           <nav>
     <ul>
     <li><a href="/contato"  > contato</a></li>
     <li><a href="/servicos"  > serviços </a></li>
     <li><a href="/perfil"  > perfil </a></li>
     
     </ul>
     </nav>
        </header>
        <main>
            <p> padrao mvc (model, view e controller), model é o modelo dos objetos, view é a tela mostrada ao usuario e o controller é quem gerencia os dados da operação </p>
        </main>
        <div>feito por nao sei quem</div>
    </body>
</html>
